.wrapper{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 46px;
    line-height: 58px;
}
h2{
    font-size: 20px;
    line-height: 24px;
}
h3{
    font-size: 13px;
    line-height: 16px;
}
h4{
    font-size: 10px;
    line-height: 14px;
}
.small-heading{
    font-size: 5px;
    line-height: 5px;
    color: #67d3ba;
}
.primary-color{
    color: #385360;
}
.secondary-color{
    color: #434343;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-extarablod{
    font-weight: 800;
}
.font-blod{
    font-weight: 700;
}
.font-black{
    font-weight: 900;
}
.generic-btn a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 17px 26px;
    border-radius: 50px;
    display: inline-block;
    background: #2a3b7d;
    text-decoration: none;
    letter-spacing: 1px;
}